/**
** Content Blocks field display
**/
.field--name-field-content-blocks > .field--item {
    margin-bottom: 30px;
}
.paragraphs-add-wrapper {
    padding: 20px;
    background: white;
    border: 1px solid var(--bg-highlight);
}
.paragraphs-dropbutton-wrapper .btn-group > button.btn-success {
    padding: 10px 15px;
    margin: 0;
    border: 0;
    font-size: 12px;
    background-color: var(--primary-dark);
}
.paragraphs-dropbutton-wrapper .btn-group > button.btn-success:hover,
.paragraphs-dropbutton-wrapper .btn-group > button.btn-success:focus {
    background-color: var(--primary);
}



/**
** Paragraph widths
**/
.width-default {
    padding: 0;
}
.width-narrow {
    padding: 1em;
}
.width-wide {
    padding: 0;
    margin: 0 -15px;
}

@media (min-width: 768px) {
    .width-narrow {
        padding: 3em;
    }
    .width-wide {
        padding: 0;
        margin: 0 -25px;
    }
}
@media (min-width: 1024px) {
    .width-wide {
        padding: 0;
        margin: 0 -50px;
    }
}



/**
** Paragraph: Image with Caption
**/

.p-imagecaption {
    margin-bottom: 2em;
}
.p-imagecaption figure img {
    width: 100%;
}
.p-imagecaption figcaption p {
    font-size: 14px;
    background: var(--bg-lightest);
    padding: 10px;
    text-align: center;
    color: black;
}


/**
** Paragraph: Basic Text Block
**/
.p-textblock {
    line-height: 1.8em;
    margin-bottom: 1em;
    color: #333;
}
.p-textblock.width-default:not([data-bgcolor='#FFFFFF']) {
    padding: 1.5em;
}
.p-textblock.width-wide {
    padding: 3em;
}
.p-textblock.width-narrow {
    padding: 5em;
}
.p-textblock p,
.p-textblock ul {
    margin-bottom: 1em;
}
.p-textblock h2,
.p-textblock h3,
.p-textblock h4, 
.p-textblock h5,
.p-textblock h6 {
    margin: 1em 0 0.5em;
    font-family: serif;
}
.p-textblock h2 {
    font-size: 1.8em;
    font-weight: bold;
}
.p-textblock h3 {
    font-size: 1.5em;
    font-weight: bold;
}
.p-textblock h4 {
    font-size: 1.2em;
    font-weight: bold;
}
.p-textblock h5 {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
.p-textblock h6 {
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
}
.p-textblock blockquote {
    border-left: 5px solid var(--bg-highlight);
    padding: 1em 2em;
    font-size: 0.8em;
    margin-bottom: 1em;
    text-align: justify;
}
.p-textblock pre {
    padding: 1em;
    font-size: 14px;
    background-color: var(--bg-lightest);
    border: 1px solid var(--bg-highlight-overlay);
    border-radius: 0;
    margin-bottom: 1em;
}

/**
** Paragraph: Photo Gallery
**/
.p-gallery.gstyle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    margin-bottom: 2em;
}
.p-gallery.gstyle-grid > .gallery-entry > a {
    display: block;
}
.p-gallery.gstyle-grid > .gallery-entry > a:hover,
.p-gallery.gstyle-grid > .gallery-entry > a:focus {
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
}
.p-gallery.gstyle-grid > .gallery-entry img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

@media (min-width: 768px) {

}


/**
** Paragraph: Columns: Two-Columns
**/
.paragraph--type-two-column.paragraph--view-mode-default {
    margin: 2em 0;
}
.paragraph--type-two-column .column-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
}
.paragraph--type-two-column .cstyle-50-50.col-1,
.paragraph--type-two-column .cstyle-50-50.col-2,
.paragraph--type-two-column .cstyle-70-30.col-1,
.paragraph--type-two-column .cstyle-70-30.col-2,
.paragraph--type-two-column .cstyle-30-70.col-1,
.paragraph--type-two-column .cstyle-30-70.col-2, {
    grid-column: 1 / -1;
}
@media (min-width: 768px) {
    .paragraph--type-two-column .column-wrapper {
        grid-gap: 30px;
    }
    .paragraph--type-two-column .cstyle-50-50.col-1 {
        grid-column: 1 / 7;
    }
    .paragraph--type-two-column .cstyle-50-50.col-2 {
        grid-column: 7 / 13;
    }
    .paragraph--type-two-column .cstyle-70-30.col-1 {
        grid-column: 1 / 9;
    }
    .paragraph--type-two-column .cstyle-70-30.col-2 {
        grid-column: 9 / 13;
    }
    .paragraph--type-two-column .cstyle-30-70.col-1 {
        grid-column: 1 / 5;
    }
    .paragraph--type-two-column .cstyle-30-70.col-2 {
        grid-column: 5 / 13;
    }
}

/**
** Content Blocks field display - Preview View
**/
h2.region-title {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-mid);
    line-height: 24px;
    margin-bottom: 10px;
}

.content-blocks > .content-block {
    margin-bottom: 10px;
    border: 1px solid var(--bg-highlight);
}

.paragraph--view-mode-preview {
    position: relative;
}
.content-block > .paragraph--view-mode-preview > .panel {
    border: 0;
    box-shadow: unset;
    border-radius: 0px;
    margin-bottom: 0px;
}
.content-block > .paragraph--view-mode-preview > .panel > .panel-heading {
    background-color: #fff;
    border: unset;
    border-radius: 0;
    padding: 0;
    border-bottom: 1px solid var(--bg-highlight);
}
.content-block > .paragraph--view-mode-preview > .panel > .panel-heading > a {
    padding: 15px;
    margin: 0;
    color: var(--text-mid);
    line-height: 50px;
}
/** add icons for each paragraph panel heading **/
.paragraph--view-mode-preview .panel-heading > a:before {
    height: 50px;
    width: 50px;
    content: '';
    display: block;
    float: left;
    margin-right: 20px;
}
.paragraph--type-embed-code.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-iframeembed.png');
}
.paragraph--type-basic-text-block.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-textblock.png');
}
.paragraph--type-interactive-content-h5p-.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-intcontent.png');
}
.paragraph--type-image-with-caption.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-imagewcaption.png');
}
.paragraph--type-photo-gallery.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-imggallery.png');
}
.paragraph--type-button.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-buttonblck.png');
}
.paragraph--type-two-column.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-twocol.png');
}

.content-block > .paragraph--view-mode-preview > .panel > .panel-body {
    padding: 25px;
}

/**
** Paragraph: Embed Code
**/
.paragraph--type--embed-code.paragraph--view-mode--default {
    margin-bottom: 2em;
}
.paragraph--type--embed-code.paragraph--view-mode--default > .field,
.preview-embedcode > .panel-body  {
    text-align: center;
}
.paragraph--type-iframe-embed.paragraph--view-mode-preview iframe {
    /* limit width of iframe so it fits inside panel */
    width: 100%; 
}

.paragraph--type--interactive-content-h5p-.paragraph--view-mode--default {
    margin-bottom: 2em;
}

/** paragraphs preview quick edit button **/
.field--name-dynamic-token-fieldparagraph-paragraph-edit-button {
    position: absolute;
    top: 28px;
    right: 50px;
}

.modal-body {
    overflow: auto !important;
}

@media (min-width: 1366px) {
    .content-block > .paragraph--view-mode-preview > .panel > .panel-body {
        padding: 25px 50px;
    }
}


/**
** Content Blocks field display - Table View
**/

.toc-elements {
    margin: 15px 0 0;
}
.toc-row {
    padding: 15px 0;
    border-bottom: 1px solid var(--bg-highlight);
}
.toc-entry-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toc-title {
    min-width: 80%;
}
.toc-entry-details {
    margin: auto;
    padding: 25px 0;
    width: 80%;
    font-size: 14px;
}

.toc-detail-item {
    margin-bottom: 15px;
}
.toc-detail-item label.label-above {
    font-size: 10px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    display: block;
}

span.para-icon {
    background-color: var(--greyblue);
    height: 50px;
    width: 50px;
    display: block;
}

span.para-icon.ptype-iframeembed {
    background: url('../assets/icons/para-icon-iframeembed.png');
}
span.para-icon.ptype-textblock {
    background: url('../assets/icons/para-icon-textblock.png');
}
span.para-icon.ptype-interactive {
    background: url('../assets/icons/para-icon-intcontent.png');
}
span.para-icon.ptype-buttonblock {
    background: url('../assets/icons/para-icon-buttonblck.png');
}
span.para-icon.ptype-imagecaption {
    background: url('../assets/icons/para-icon-imagewcaption.png');
}
span.para-icon.ptype-imagegallery {
    background: url('../assets/icons/para-icon-imggallery.png');
}

textarea.embedcode {
    width: 100%;
    padding: 20px;
    background-color: var(--bg-lightest);
    border: 1px solid var(--bg-highlight-overlay);
    font-family: monospace;
    color: var(--primary);
}
textarea.embedcode::selection {
    background: var(--primary-dark);
    color: var(--greyblue-light);
}

textarea.embedcode::-moz-selection {
    background: var(--primary-dark);
    color: var(--greyblue-light);
}

.toc-detail-item.inline-image-grid {
    display: flex;
}