:root {
    --primary: #4255bd;
    --primary-dark: #2e3b84;
    --primary-light: #7b88d1;
    
    --secondary: #429ebd;
    --secondary-dark: #2e6f84;
    --secondary-light: #7bbbd1;

    --white: #ffffff;
    --bg-lightest: #f8f8f8;
    --bg-mid: #f5f5f5;
    --bg-highlight: #ebebeb;
    --bg-highlight-overlay: #dcdcdc;

    --red: #bd4242;
    --red-dark: #842e2e;
    --red-light: #d17b7b;

    --greyblue: #698796;
    --greyblue-dark: #495f69;
    --greyblue-light: #96abb6;

    --black: #000000;
    --text-mid: #666666;
    --text-light: #AAAAAA;
}

/**
** Layout and structure
**/
body {
    background-color: var(--bg-lightest);
    color: var(--black);
    font-size: 16px;
}
body.navbar-is-fixed-top {
    margin-top: 60px;
}
body.sidebar-first section.main-section {
    margin-left: 0%;
}
@media (min-width: 768px) {
    body.sidebar-first section.main-section {
        margin-left: 16%;
        width: 84%;
    }
}
.navbar-default {
    background-color: var(--white);
    border: unset;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

aside.sidebar-left {
    position: fixed;
    top: 0;
    left: -250px;
    padding: 10px 0;
    height: 100%;
    background: var(--bg-mid);
    width: 250px;
}
aside.sidebar-left.is-open {
    z-index: 1031;
    box-shadow: 5px 0 10px 0 rgba(0,0,0,0.1);
}
body.node-add-edit aside.sidebar-left {
    width: 80px;
    border-right: 1px solid var(--bg-highlight-overlay);
    overflow: hidden;
}
@media (min-width: 768px) {
    aside.sidebar-left {
        position: fixed;
        top: unset;
        left: 0px !important;
        width: 16%;
    }
}

aside.sidebar-offcanvas-right {
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 1031;
    width: 250px;
    height: 100%;
    background: var(--bg-mid);
}
aside.sidebar-offcanvas-right.is-open {
    box-shadow: -5px 0 10px 0 rgba(0,0,0,0.1);
    z-index: 1031;
}
body.node-add-edit section.main-section {
    margin-left: 80px;
    width: calc(100% - 80px);
}
section.main-section {
    min-height: 500px;
}


#full-page-overlay {
    background-color: var(--black);
    opacity: 0.25;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    display: none;
}

/**
** Buttons, links, typography
**/

.btn {
    font-weight: bold;
    padding: 6px 15px;
    border-width: 3px;
}
.btn-primary {
    background-color: var(--primary);
    border-color: transparent;
}
.btn-secondary {
    background-color: var(--secondary);
    border-color: transparent;
    color: var(--white);
}
.btn-default {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--primary-dark);
    border-color: transparent;
}
.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--secondary-dark);
    border-color: transparent;
    color: var(--white);
}
.btn-default:hover,
.btn-default:focus {
    background-color: var(--primary);
    border-color: transparent;
    color: var(--white);
}


/**
** Main header / nav
**/
.navbar-header {
    width: 100%;
    margin: 0px !important;
}
button#toggle-mobile-nav {
    float: left;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-left: 0px;
    margin-top: 10px;
    background: unset;
    border-radius: 50%;
}
button#toggle-mobile-nav:focus,
button#toggle-mobile-nav:hover,
button#toggle-mobile-nav:active {
    background: var(--bg-highlight-overlay);
}
.navbar .logo {
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar .logo.hidden-md.hidden-lg {
    line-height: 60px;
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--text-mid);
    font-weight: bold;
}
.user-nav-button {
    float: right;
}
a#openUserNav {
    display: flex;
    height: 60px;
    align-items: center;
    font-weight: bolder;
    color: var(--black);
}
a#openUserNav .user-avatar > img {
    margin: auto 0px;
    border-radius: 50%;
    max-width: 40px;
}
a#openUserNav .user-name {
    padding: 20px 0;
}
a#openUserNav:hover,
a#openUserNav:focus {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary);
}

@media (min-width: 768px) {
    .navbar-header {
        width: 16%;
    }
    a#openUserNav .user-avatar > img {
        margin: 5px 15px 5px 0;
    }
}

/**
** Offcanvas Right
**/
button#close-sidebar-off-right {
    background: rgba(255,255,255,0.25);
    float: right;
    margin: 10px 10px 0 0;
    border: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    display: none;
}
button#close-sidebar-off-right svg {
    fill: var(--white);
    width: 10px;
}
#block-placeholderuserinfoinoffcanvasblock {
    background: linear-gradient(to bottom right, var(--primary), var(--primary-dark));
    padding: 20px;
    height: 150px;
    color: #FFF;  
}


/**
** Vertical Nav
**/
nav.vertical-nav > ul.menu > li.menu-icon > a {
    background-position: 15px center;
    background-size: 24px;
    padding: 15px 15px 15px 80px;
    font-weight: bold;
    color: var(--black);
    opacity: 0.7;
}
nav.vertical-nav > ul.menu > li.menu-icon.active > a.is-active,
nav.vertical-nav > ul.menu > li.menu-icon > a.is-active,
nav.vertical-nav > ul.menu > li.menu-icon.active > a {
    background-color: var(--bg-highlight);
    color: var(--primary);
    opacity: 1;
}
nav.vertical-nav > ul.menu > li.menu-icon > a:hover,
nav.vertical-nav > ul.menu > li.menu-icon > a:focus {
    background-color: var(--bg-highlight-overlay);
    opacity: 1;
}
nav.vertical-nav > ul.menu > li.menu-icon.active > a.is-active:hover
nav.vertical-nav > ul.menu > li.menu-icon.active > a.is-active:focus,
nav.vertical-nav > ul.menu > li.menu-icon > a.is-active:hover,
nav.vertical-nav > ul.menu > li.menu-icon > a.is-active:focus,
nav.vertical-nav > ul.menu > li.menu-icon.active > a:hover,
nav.vertical-nav > ul.menu > li.menu-icon.active > a:focus {
    background-color: var(--bg-highlight-overlay);
    opacity: 1;
}

@media (min-width: 768px) {
    nav.vertical-nav > ul.menu > li.menu-icon > a {
        background-position: 28px center;
    }
}

/**
** Page Title Region (#page-header)
**/
#page-header {
    margin: 0 -15px;
    background-color: var(--bg-mid);
    border-bottom: 1px solid var(--bg-highlight);
    margin-bottom: 30px;
}
#page-header .page-title-block {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}
.page-title-image {
    float: left;
    margin-right: 5%;
    width: 15%;
}
.page-title-text {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 80%;
}
h1.page-title-title {
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 5px 0;
}
.page-title-subtitle {
    font-size: 12px;
}

.page-title-calltoaction {
    float: right;
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
}
.page-title-calltoaction > a.btn {
    margin: 0 0 5px 5px;
}
.page-title-tabs {
    padding: 30px 0 0;
    clear: both;
    display: flex;
    justify-content: space-between;
}
.region-header-nav {
    max-width: 1200px;
    margin: auto;
}
.region-header-nav > nav > ul.menu > li {
    margin-top: 0;
    display: inline-block;
    font-size: 14px;
}
.region-header-nav > nav > ul.menu > li > a {
    border-bottom: 1px solid;
    padding: 10px 20px;
    color: var(--text-mid);
    border-color: transparent;
}
.region-header-nav > nav > ul.menu > li > a.is-active {
    border-color: inherit;
    color: var(--primary);
}
.region-header-nav > nav > ul.menu > li > a:hover,
.region-header-nav > nav > ul.menu > li > a:focus {
    background-color: var(--bg-highlight);
}

@media (min-width: 768px) {
    #page-header .page-title-block {
        padding: 30px 0 0;
    }
    .page-title-image {
        margin-right: 30px;
        width: unset;
    }
    .page-title-text {
        width: unset;
        height: 100px;
    }
    h1.page-title-title {
        font-size: 26px;
    }
    .page-title-subtitle {
        font-size: 16px;
    }
    .region-header-nav > nav > ul.menu > li {
        margin-top: 20px;
        font-size: 16px;
    }
}

/** 
** Cards
**/
.card {}

.card.two-col-card {}

.card.two-col-card .col-2 {
    padding-left: 0px;
}

h3.card-title {
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0 5px;
}

@media (min-width: 768px) {
    h3.card-title {
        font-size: 18px;
    }
    .card.two-col-card .col-2 {
        padding-left: 15px;
    }
}


/**
** Global Styles
**/
.circle-image img {
    border-radius: 50%;
}
.gradient-bg {
    background: linear-gradient(to bottom right, var(--primary), var(--primary-dark));
    color: var(--white);
}
.label {
    padding: 0.2em 0.6em;
}
span.label.secondary {
    background-color: var(--secondary);
    color: var(--white);
    font-size: 12px;
}
p.text-mid {
    color: var(--text-mid);
}
body:not(.user-logged-in) .for-member {
    display: none;
}
body.user-logged-in .for-guest {
    display: none;
}
@media (min-width: 768px) {
    span.label.secondary {
        font-size: 14px;
    }
}

/**
** Edit edit pages
**/
#node-form-top-bar {
    padding: 15px 0;
    background: var(--bg-mid);
    border-bottom: 1px solid var(--bg-highlight);
    position: sticky;
    top: 60px;
    z-index: 1029;
}


/**
** Spacing Utilities
**/
.pt-1 {
    padding-top: 1em;
}
.pt-2 {
    padding-top: 2em;
}
.pt-3 {
    padding-top: 3em;
}
.pt-4 {
    padding-top: 4em;
}
.pt-5 {
    padding-top: 5em;
}
.pb-1 {
    padding-bottom: 1em;
}
.pb-2 {
    padding-bottom: 2em;
}
.pb-3 {
    padding-bottom: 3em;
}
.pb-4 {
    padding-bottom: 4em;
}
.pb-5 {
    padding-bottom: 5em;
}
.ph-1 {
    padding-right: 1em;
    padding-left: 1em;
}
.ph-2 {
    padding-right: 2em;
    padding-left: 2em;
}
.ph-3 {
    padding-right: 3em;
    padding-left: 3em;
}
.ph-4 {
    padding-right: 4em;
    padding-left: 4em;
}
.ph-5 {
    padding-right: 5em;
    padding-left: 5em;
}