/**
** Content Blocks field display
**/
.field--name-field-content-blocks > .field--item {
    margin-bottom: 30px;
}

/**
** Paragraph widths
**/
.width-default {
    padding: 0;
}
.width-narrow {
    padding: 3em;
}
.width-wide {
    padding: 0;
    margin: 0 -50px;
}

/**
** Paragraph: Image with Caption
**/

.paragraph--type-image-with-caption figure > img {
    width: 100%;
}
.paragraph--type-image-with-caption figure > figcaption {
    font-size: 14px;
    background: var(--bg-lightest);
    padding: 10px;
    text-align: center;
    color: black;
}

/**
** Paragraph: Basic Text Block
**/
.p-textblock {
    line-height: 1.7em;
}

/**
** Paragraph: Photo Gallery
**/
.p-gallery.gstyle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
}
.p-gallery.gstyle-grid > .gallery-entry > a {
    display: block;
    border: 1px solid transparent;
}
.p-gallery.gstyle-grid > .gallery-entry > a:hover,
.p-gallery.gstyle-grid > .gallery-entry > a:focus {
    border-color: var(--primary);
}
.p-gallery.gstyle-grid > .gallery-entry img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

@media (min-width: 768px) {

}

/**
** Content Blocks field display - Preview View
**/
h2.region-title {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-mid);
    line-height: 24px;
    margin-bottom: 10px;
}

.content-blocks > .content-block {
    margin-bottom: 10px;
    border: 1px solid var(--bg-highlight);
}

.paragraph--view-mode-preview {
    position: relative;
}
.content-block > .paragraph--view-mode-preview > .panel {
    border: 0;
    box-shadow: unset;
    border-radius: 0px;
    margin-bottom: 0px;
}
.content-block > .paragraph--view-mode-preview > .panel > .panel-heading {
    background-color: #fff;
    border: unset;
    border-radius: 0;
    padding: 0;
    border-bottom: 1px solid var(--bg-highlight);
}
.content-block > .paragraph--view-mode-preview > .panel > .panel-heading > a {
    padding: 15px;
    margin: 0;
    color: var(--text-mid);
    line-height: 50px;
}
/** add icons for each paragraph panel heading **/
.paragraph--view-mode-preview .panel-heading > a:before {
    height: 50px;
    width: 50px;
    content: '';
    display: block;
    float: left;
    margin-right: 20px;
}
.paragraph--type-iframe-embed.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-iframeembed.png');
}
.paragraph--type-basic-text-block.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-textblock.png');
}
.paragraph--type-interactive-content-h5p-.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-intcontent.png');
}
.paragraph--type-image-with-caption.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-imagewcaption.png');
}
.paragraph--type-photo-gallery.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-imggallery.png');
}
.paragraph--type-button.paragraph--view-mode-preview .panel-heading > a:before {
    background: url('../assets/icons/para-icon-buttonblck.png');
}

.content-block > .paragraph--view-mode-preview > .panel > .panel-body {
    padding: 30px 90px;
}

.paragraph--type-iframe-embed.paragraph--view-mode-preview iframe {
    /* limit width of iframe so it fits inside panel */
    width: 100%; 
}


/** paragraphs preview quick edit button **/
.field--name-dynamic-token-fieldparagraph-paragraph-edit-button {
    position: absolute;
    top: 28px;
    right: 50px;
}

.modal-body {
    overflow: auto !important;
}


/**
** Content Blocks field display - Table View
**/

.toc-elements {
    margin: 15px 0 0;
}
.toc-row {
    padding: 15px 0;
    border-bottom: 1px solid var(--bg-highlight);
}
.toc-entry-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toc-title {
    min-width: 80%;
}
.toc-entry-details {
    margin: auto;
    padding: 25px 0;
    width: 80%;
    font-size: 14px;
}

.toc-detail-item {
    margin-bottom: 15px;
}
.toc-detail-item label.label-above {
    font-size: 10px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    display: block;
}

span.para-icon {
    background-color: var(--greyblue);
    height: 50px;
    width: 50px;
    display: block;
}

span.para-icon.ptype-iframeembed {
    background: url('../assets/icons/para-icon-iframeembed.png');
}
span.para-icon.ptype-textblock {
    background: url('../assets/icons/para-icon-textblock.png');
}
span.para-icon.ptype-interactive {
    background: url('../assets/icons/para-icon-intcontent.png');
}
span.para-icon.ptype-buttonblock {
    background: url('../assets/icons/para-icon-buttonblck.png');
}
span.para-icon.ptype-imagecaption {
    background: url('../assets/icons/para-icon-imagewcaption.png');
}
span.para-icon.ptype-imagegallery {
    background: url('../assets/icons/para-icon-imggallery.png');
}

textarea.embedcode {
    width: 100%;
    padding: 20px;
    background-color: var(--bg-lightest);
    border: 1px solid var(--bg-highlight-overlay);
    font-family: monospace;
    color: var(--primary);
}
textarea.embedcode::selection {
    background: var(--primary-dark);
    color: var(--greyblue-light);
}

textarea.embedcode::-moz-selection {
    background: var(--primary-dark);
    color: var(--greyblue-light);
}

.toc-detail-item.inline-image-grid {
    display: flex;
}