#block-views-block-page-title-dynamic-groups-block-1.page-title-block {
  background-image: url(/themes/custom/learnful-theme/assets/images/bgs/dark-mosaic.png);
  background-color: var(--primary-dark);
}

/**
** Group Page header
**/
form.group-form #edit-actions > #edit-delete {
  float: right;
}
.view-page-title-dynamic-groups .circle-image img {
  border: 3px solid white;
}
.view-page-title-dynamic-groups .page-title-calltoaction a {
  float: right;
  background-color: var(--primary-dark);
}
.view-page-title-dynamic-groups .page-title-calltoaction a:hover,
.view-page-title-dynamic-groups .page-title-calltoaction a:focus {
  background-color: var(--primary);
}


/**
** Group Menu
**/

.group-header-menu {
  background-color: white;
}
.group-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.group-menu-main > a {
  display: inline-block;
  padding: 1em;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--text-mid);
  border-bottom: 2px solid transparent;
}
.group-menu-main > a.active {
  border-bottom: 2px solid;
  color: var(--primary);
}
.group-menu-main > a:hover,
.group-menu-main > a:focus {
  text-decoration: none;
  background-color: var(--bg-lightest);
  color: var(--primary-dark);
}
.group-menu-right {
  padding: 0.5em;
  grid-column-end: 4;
}
.group-menu-right a {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.9em;
}
.group-menu-right a:hover,
.group-menu-right a:focus {
  background-color: var(--bg-lightest);
  text-decoration: none;
}
.group-menu-right a.active {
  background-color: var(--primary);
  color: white;
}


/**
** Group main page
**/
.group.ds-2col-fluid,
.group-content--type-sprint-group-membership.ds-2col-fluid {
  max-width: 1200px;
  margin: auto;
}
.group.ds-2col-fluid > .group-left,
.group-content--type-sprint-group-membership.ds-2col-fluid > .group-left {
  width: 100%;
  margin-bottom: 2em;
}
.group.ds-2col-fluid > .group-right,
.group-content--type-sprint-group-membership.ds-2col-fluid > .group-right {
  width: 100%;
}
@media (min-width: 768px) {
  .group.ds-2col-fluid > .group-left,
  .group-content--type-sprint-group-membership.ds-2col-fluid > .group-left {
    width: 70%;
  }
  .group.ds-2col-fluid > .group-right,
  .group-content--type-sprint-group-membership.ds-2col-fluid > .group-right {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .group.ds-2col-fluid,
  .group-content--type-sprint-group-membership.ds-2col-fluid {
    width: 95%
  }
}

/**
** Group Feeds
**/

/** Discussions **/
.view.group-feed-discussions .views-exposed-form label {
  font-weight: normal;
  font-size: 0.9em;
  color: var(--text-mid);
  margin-right: 0.5em;
}
.view.group-feed-discussions .card-footer {
  line-height: 30px;
}
.view.group-feed-discussions .card-footer .card-author > * {
  display: inline-block;
  vertical-align: middle;
}
.view.group-feed-discussions .card-footer .card-author img {
  max-width: 30px;
  border-radius: 50%;
  margin-right: 1em;
}
.view.group-feed-discussions .card-action > a{
  font-weight: bold;
}

/**
** Group Page with Right Sidebar inside Content
**/

#group-discussion-panel-main {
  display: grid;
  grid-template-columns: 8fr 4fr;
  max-width: 1200px;
  margin: auto;
  grid-gap: 3em;
}

.region-content-sidebar h2.block-title {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text-mid);
  margin: 0.5em 0 1em;
}

/**
** Group Modals
**/

.modal-content.join-group .modal-footer .modal-buttons button,
.modal-content.leave-group .modal-footer .modal-buttons button {
  background-color: var(--primary);
  color: white;
}
.modal-content.join-group .modal-footer .modal-buttons button:hover,
.modal-content.join-group .modal-footer .modal-buttons button:focus,
.modal-content.leave-group .modal-footer .modal-buttons button:hover,
.modal-content.leave-group .modal-footer .modal-buttons button:focus {
  background-color: var(--primary-dark);
}
/* hide cancel button due to bad redirect*/
.modal-content.join-group .modal-footer .modal-buttons button:last-of-type,
.modal-content.leave-group .modal-footer .modal-buttons button:last-of-type {
  display: none;
}

/* add content to group leave form modal to cover default msg */
.modal-content.leave-group form {
  min-height: 150px;
}
.modal-content.leave-group form::before {
  content: 'Once you leave this group you may be able to re-join. Your content will remain in the group. You will not be able to edit your content until you rejoin.';
  position: absolute;
  width: calc(100% - 30px);
  background-color: white;
}


/**
** Sprint : Workspace (nodes)
**/

/** Workspace Node View **/
.group-content--type-sprint-group-node-workspace.ds-2col-stacked {
  background-color: unset;
  border: 0;
  margin-top: auto;
}
.group-content--type-sprint-group-node-workspace.ds-2col-stacked .group-left {
  width: 70%;
  margin-right: 5%;
  padding: 0;
}
.group-content--type-sprint-group-node-workspace.ds-2col-stacked .group-right {
  float: right;
  width: 25%;
  padding: 0;
}
.group-content--type-sprint-group-node-workspace.ds-2col-stacked .group-footer {
  margin: 0;
  padding: 2em 0 0 0;
  border: 0;
  font-size: unset;
  clear: both;
}

.field-resinws-title {
  border-left: 7px solid var(--primary-light);
  margin-bottom: 2em;
}


/** action button **/
.action-btn {
  background: var(--bg-highlight);
  padding: 6px 12px;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  color: black;
  border-radius: 3px;
}
.action-btn:hover,
.action-btn:focus {
  background: var(--bg-highlight-overlay);
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/** user pictures for resources listed in ws **/
.card-users > div {
  display: inline-block;
  margin-left: 10px;
}
.card-users > div:first-of-type {
  margin-left: 0px;
}
.card-users li.collab-entry {
  padding: 0;
}

/**
** Sprint : Workspace : Resources
**/

h2.resinws-title {
  margin: 0.5em 0;
  font-size: 1.45em;
  font-weight: bold;
  color: var(--greyblue-dark);
}
.group-content.ds-2col-stacked-fluid .group-header {
  margin-top: -15px;
} 
.group-content.ds-2col-stacked-fluid .group-left {
  width: 70%;
}
.group-content.ds-2col-stacked-fluid .group-right {
  width: 25%;
}

/* .group-content.ds-2col-stacked-fluid .group-header .flag > a {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.06em;
  background-color: var(--bg-mid);
  padding: 6px 15px;
  border: 3px solid transparent;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: pre-wrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: var(--primary);
}
.group-content.ds-2col-stacked-fluid .group-header .flag > a:hover,
.group-content.ds-2col-stacked-fluid .group-header .flag > a:focus {
  color: white;
  text-decoration: none;
  background-color: var(--primary);
} */

.group-card > .views-field {
  margin-bottom: 1em;
}
.group-card > .views-field > .views-label {
  font-size: 0.8em;
  font-weight: 700;
  display: block;
}


/**
** Workspace: Collections
**/
h2.collection-title {
  font-weight: bold;
  font-size: 1.3em;
  color: var(--text-mid);
}


/**
** Subgroup : Workspace
**/

/** Subgroup form */
.er-views-select {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 35px auto;
  margin-bottom: 1em;
  line-height: 35px;
  font-weight: normal;
  color: black;
}

h2.subgroup-title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em 0 1em;
}
h2.subgroup-title .subgroup-pretitle {
  color: var(--text-mid);
}