/**
** Modal
**/

.modal[data-drupal-selector=edit-field-projects-entity-browser-entity-browser-open-modal] .modal-dialog,
.modal[data-drupal-selector*=field-interactive-content-entity-browser-entity-browser-open-modal] .modal-dialog,
.modal[data-drupal-selector=edit-field-table-of-contents-entity-browser-entity-browser-open-modal] .modal-dialog,
.modal[data-drupal-selector=edit-field-collaborators-er-entity-browser-entity-browser-open-modal] .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 80%;
    transform: translate(-50%, -65%) !important;
}
.modal-content.entity-browser-modal {
    height: 100%;
}

.entity-browser-modal .modal-body > iframe {
    height: 100% !important;
}
.entity-browser-modal .ui-dialog-content > * {
    max-height: 99%;
}

/** general modal settings **/
div.modal-header {
    padding: 15px;
    border-bottom: 1px solid var(--bg-highlight);
}
h4.modal-header {
    padding: 0;
    border-bottom: unset;
}
.modal-body {
    height: calc(100% - 60px);
}


/**
** Entity browser iframe innerds
**/
body.entity-browser-iframe {
    background-color: var(--white);
    font-size: 12px;
    margin-top: 0px;
}
body.entity-browser-iframe .alert {
    margin: 0 0;
    padding: 10px 35px 10px 10px;
    width: 30%;
}
body.entity-browser-iframe div.view {
    max-height: 80vh;
    overflow-y: auto;
}
nav.eb-tabs {
    border-bottom: 1px solid var(--bg-highlight);
    margin-bottom: 10px;
}
.eb-tabs ul {
    border-bottom: 0;
}
.eb-tabs ul li.active {
    border-bottom: unset;
}
.eb-tabs ul li a {
    color: var(--text-mid);
    font-size: 14px;
    border-bottom: 2px solid transparent;
}
.eb-tabs ul li.active a.active {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}
.eb-tabs ul li a:focus,
.eb-tabs ul li a:hover {
    text-decoration: none;
    background-color: var(--bg-lightest);
}

.ebview.has-exposed-filters {
    clear: both;
}
.ebview.has-exposed-filters .view-filters {
    position: absolute;
    top: 0;
    right: 0;
}
.ebview.has-exposed-filters .view-filters button.btn {
    border-width: 1px;
}
/* .ebview.has-exposed-filters .view-content {
    padding-top: 15px;
    border-top: 1px solid var(--bg-highlight);
    margin-top: 10px;
} */

body.entity-browser-iframe form.entity-browser-form > #edit-actions,
#entity-browser-collaborators-form .form-actions {
    position: fixed;
    height: 10vh;
    bottom: 0;
    margin-bottom: 0;
    padding-top: 15px;
    border-top: 1px solid var(--bg-highlight);
    width: 100%;
    background-color: white;
}


.eb-item.views-row {
    display: flex;
    margin-bottom: 10px;
    background-color: var(--bg-lightest);
    /* border-radius: 40px; */
    padding: 10px;
    position: relative;
    align-items: center;
}

.eb-item > .views-field-entity-browser-select {
    width: 30px;
    padding-left: 5px;
}
.eb-item > .views-field-field-cover-image {
    max-width: 50px;
    margin-right: 15px;
}
.eb-item > .views-field-title {
    margin-right: 15px;
}
.eb-item > .views-field-title h3 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
}
.eb-item > .views-field-title p {
    margin: 0;
    font-size: 14px;
}
.eb-item > .views-field-changed {
    text-align: right;
    margin-left: auto;
    padding-right: 10px; 
}

.entities-list .rendered-entity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    border: 1px solid var(--bg-highlight-overlay);
    font-size: 12px;
    color: var(--black);
}
.entities-list.sortable .item-container:hover {
    opacity: unset;
    border-color: var(--bg-highlight-overlay);
    background-color: var(--bg-lightest);
}
.entities-list .rendered-entity > .node.node--view-mode-entity-browser-selected {
    display: flex;
    align-items: center;
}
.node.node--view-mode-entity-browser-selected .field--name-field-cover-image {
    max-width: 50px;
    margin-right: 20px;
}
.node.node--view-mode-entity-browser-selected .field--name-node-title > h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 25px 0 0;
}
.node.node--view-mode-entity-browser-selected .field--name-node-changed-date > div {
    display: inline-block;
}

/**
** Entity Browser field styling
**/

/** Tutorials for Minibooks EB **/
#edit-field-table-of-contents-wrapper {
    margin: 2em 0 0 1em;
}
#edit-field-table-of-contents-wrapper .panel-heading {
    display: none;
}
#edit-field-table-of-contents-wrapper .panel-body {
    padding-top: 20px;
}