:root {
    --primary: #4255bd;
    --primary-dark: #2e3b84;
    --primary-light: #7b88d1;
    
    --secondary: #429ebd;
    --secondary-dark: #2e6f84;
    --secondary-light: #7bbbd1;

    --white: #ffffff;
    --bg-lightest: #f8f8f8;
    --bg-mid: #f5f5f5;
    --bg-highlight: #ebebeb;
    --bg-highlight-overlay: #dcdcdc;

    --red: #bd4242;
    --red-dark: #842e2e;
    --red-light: #d17b7b;

    --greyblue: #698796;
    --greyblue-dark: #495f69;
    --greyblue-light: #96abb6;

    --black: #000000;
    --text-mid: #666666;
    --text-light: #AAAAAA;
}

/**
** Layout and structure
**/
body {
    background-color: var(--bg-lightest);
    color: var(--black);
    font-size: 16px;
}
body.navbar-is-fixed-top {
    margin-top: 60px;
}
body.sidebar-first section.main-section {
    margin-left: 0%;
}
@media (min-width: 768px) {
    body.sidebar-first section.main-section {
        margin-left: 0px;
        width: 100%;
    }
}
@media (min-width: 992px) {
    body.sidebar-first section.main-section {
        margin-left: 220px;
        width: calc(100% - 220px);
    }
}
@media (min-width: 1440px) {
    body.sidebar-first section.main-section {
        margin-left: 16%;
        width: 84%;
    }
}

.navbar-default {
    background-color: var(--white);
    border: unset;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

aside.sidebar-left {
    position: fixed;
    top: 0;
    left: -250px;
    padding: 10px 0;
    height: 100%;
    background: var(--bg-mid);
    width: 250px;
    border-right: 1px solid var(--bg-highlight);
}
aside.sidebar-left.is-open {
    z-index: 1031;
    box-shadow: 5px 0 10px 0 rgba(0,0,0,0.1);
}
body.node-add-edit aside.sidebar-left {
    border-right: 1px solid var(--bg-highlight-overlay);
    overflow: hidden;
}
@media (min-width: 768px) {
    aside.sidebar-left {
        position: fixed;
        width: 250px;
    }
    body.node-add-edit aside.sidebar-left {
        width: 80px;
    }
}
@media (min-width: 992px) {
    aside.sidebar-left { 
        left: 0px !important;
        top: unset;
        width: 220px;
    }
}
@media (min-width: 1440px) {
    aside.sidebar-left { 
        width: 16%;
    }
}

aside.sidebar-offcanvas-right {
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 1031;
    width: 250px;
    height: 100%;
    background: var(--bg-mid);
}
aside.sidebar-offcanvas-right.is-open {
    box-shadow: -5px 0 10px 0 rgba(0,0,0,0.1);
    z-index: 1031;
}

section.main-section {
    min-height: 500px;
}

#full-page-overlay {
    background-color: var(--black);
    opacity: 0.25;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    display: none;
}
@media (min-width: 768px) {
    body.node-add-edit section.main-section {
        margin-left: 80px;
        width: calc(100% - 80px);
    }
}

.maxwidth1200 {
    max-width: 1200px;
    margin: auto;
}

/** Node / DS layouts **/
.node.ds-2col-fluid {
    max-width: 1200px;
    margin: auto;
}
.node.ds-2col-fluid > .group-left {
    width: 100%;
}
.node.ds-2col-fluid > .group-right {
    width: 100%;
}

.node.ds-2col-fluid .field.field--name-field-content-blocks {
    padding: 30px;
    background: var(--white);
    border: 1px solid var(--bg-highlight);
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .node.ds-2col-fluid > .group-left {
        width: 70%;
    }
    .node.ds-2col-fluid > .group-right {
        width: 25%;
    }
    .node.ds-2col-fluid .field.field--name-field-content-blocks {
        margin-bottom: 50px;
    }
}

/** User Profile / DS layouts **/
.user.ds-2col-fluid {
    width: 100%;
    max-width: 1400px;
    margin: 1em auto 0px;
}
.user.ds-2col-fluid > .group-left {
    width: 100%;
    float: left;
}
.user.ds-2col-fluid > .group-right {
    width: 100%;
    float: left;
    margin-top: 1em;
}
@media (min-width: 768px) {
    .user.ds-2col-fluid {
        width: 100%;
        margin-top: 1em;
    }
    .user.ds-2col-fluid > .group-left {
        width: 25%;
    }
    .user.ds-2col-fluid > .group-right {
        width: 73%;
        margin-left: 2%;
    }
}
@media (min-width: 992px) {
    .user.ds-2col-fluid {
        width: 95%;
        margin-top: 2em;
    }
    .user.ds-2col-fluid > .group-left {
        width: 30%;
    }
    .user.ds-2col-fluid > .group-right {
        width: 68%;
    }
}
@media (min-width: 1200px) {
    .user.ds-2col-fluid > .group-left {
        width: 25%;
    }
    .user.ds-2col-fluid > .group-right {
        width: 73%;
    }
}


/**
** Login / Registration Forms
**/
#block-userloginregisterbranding {
    max-width: 400px;
    margin: -50px auto 0;
}
form#user-login-form,
form#user-register-form,
form#user-pass {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background: var(--white);
}
form#user-login-form {
    margin-top: 20px;
}
form#user-register-form {
    padding: 20px 30px;
}
form#user-pass {
    padding: 20px 30px;
    margin-top: 20px;
}
#block-loginfooter {
    max-width: 400px;
    font-size: 14px;
    background: #FFF;
    padding: 20px;
    margin: auto;
    border-top: 1px solid var(--bg-highlight-overlay);
}
#block-loginpageadditionallinks,
#block-userregistrationadditionallinks,
#block-userpasswordresetadditionallinks {
    max-width: 400px;
    margin: 25px auto 0;
    padding: 20px;
    font-size: 12px;
    text-align: center;
}
#edit-mail--description,
#edit-pass--description,
#edit-name--description {
    display: none;
}
#block-userloginsocialloginblock {
    max-width: 400px;
    background: #FFF;
    margin: auto;
    padding: 0 30px;
}
#block-userregisterpageheader {
    max-width: 400px;
    background: #FFF;
    margin: auto;
    padding: 30px 30px 0;
    margin-top: 20px;
}
#block-userregisterpageheader h1 {
    font-size: 23px;
    font-weight: bold;
    margin: 0 0;
}
form#user-login-form .form-item > label,
form#user-register-form .form-item > label,
#user-settings-form .form-item > label,
#user-settings-profile-form .form-item > label {
    font-size: 12px;
}
.password-confirm.js-password-confirm,
.password-strength__title,
.password-strength__text {
    font-size: 12px;
}

.or-separator {
    position: relative;
    line-height: 30px;
    text-align: center;
    color: var(--text-mid);
}
p.or-separator:before,
p.or-separator:after {
    position: absolute;
    width: 40%;
    height: 1px;
    content: '';
    background-color: var(--bg-highlight-overlay);
    top: 15px;
}
p.or-separator:before {
    left: 0px;
}
p.or-separator:after {
    right: 0px;
}
form#user-login-form > #edit-actions > #edit-submit,
form#user-register-form > #edit-actions > #edit-submit {
    display: block;
    width: 100%;
    margin-top: 25px;
}
.btn-google-login {
    display: block;
    text-align: center;
    border: 3px solid var(--primary);
    border-radius: 30px;
    margin: 30px 0;
    color: var(--primary);
    position: relative;
}
.btn-google-login:after {
    content: '';
    display: block;
    background-image: url(/themes/custom/learnful-theme/assets/icons/icons8-google.svg);
    position: absolute;
    top: 0;
    right: 5px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.btn-google-login:hover,
.btn-google-login:focus {
    color: var(--white);
    border-color: var(--primary-dark);
    background-color: var(--primary-dark);
}

body.path-user .region-content > div > .messages__wrapper .alert {
    max-width: 400px;
    margin: 20px auto 0;
}

/**
** Buttons, links, typography
**/

a {
    color: var(--primary);
}
a:active,
a:hover,
a:focus {
    color: var(--primary-dark);
}

h1.page-header {
    border: 0;
    padding: 28px;
    font-size: 20px;
    margin: 0;
}

.btn {
    font-weight: bold;
    padding: 6px 15px;
    border-width: 3px;
}
.btn-xs {
    padding: 1px 8px;
    font-size: 11px;
}
.btn-sm {
    padding: 5px 10px;
}
.btn-primary {
    background-color: var(--primary);
    border-color: transparent;
}
.btn-secondary {
    background-color: var(--secondary);
    border-color: transparent;
    color: var(--white);
}
.btn-default {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-success {
    background-color: var(--greyblue);
    border-color: transparent;
}
.btn-info {
    background-color: var(--secondary);
    border-color: transparent;
}
.btn-light {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.06em;
    background-color: var(--bg-mid);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--primary-dark);
    border-color: transparent;
}
.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--secondary-dark);
    border-color: transparent;
    color: var(--white);
}
.btn-default:hover,
.btn-default:focus {
    background-color: var(--primary);
    border-color: transparent;
    color: var(--white);
}
.btn-success:hover,
.btn-success:focus {
    background-color: var(--greyblue-dark);
    border-color: transparent;
}
.btn-info:hover,
.btn-info:focus {
    background-color: var(--secondary-dark);
    border-color: transparent;
}

.btn-success:active {
    background-color: var(--greyblue-light);
    border-color: var(--greyblue);
}

span.label-with-icon {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
span.label-with-icon > i.label-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg-highlight);
    border-radius: 50%;
    background-size: 24px;
    margin-right: 7px;
}
i.label-icon.totalviews-icon {
    background-image: url('/themes/custom/learnful-theme/assets/collections/baseline-remove_red_eye-24px.svg');
}

span.label-with-icon > i.glyphicon {
    padding: 10px;
    width: 40px;
    height: 40px;
    background: var(--bg-highlight);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-right: 7px;
}

span.label-with-icon .flag > a {
    font-size: 24px;
    background-color: var(--bg-highlight);
    border-radius: 50%;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}
span.label-with-icon .flag > a:hover,
span.label-with-icon .flag > a:focus {
    text-decoration: none;
}

/**
** Main header / nav
**/
.navbar-header {
    width: 100%;
    margin: 0px !important;
}
button#toggle-mobile-nav {
    float: left;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-left: 0px;
    margin-top: 10px;
    background: unset;
    border-radius: 50%;
}
button#toggle-mobile-nav:focus,
button#toggle-mobile-nav:hover,
button#toggle-mobile-nav:active {
    background: var(--bg-highlight-overlay);
}
.navbar .logo {
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar .logo.hidden-md.hidden-lg {
    line-height: 60px;
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--text-mid);
    font-weight: bold;
}
.user-nav-button {
    float: right;
}
a#openUserNav {
    display: flex;
    height: 60px;
    align-items: center;
    font-weight: bolder;
    color: var(--black);
}
a#openUserNav .user-avatar > img {
    margin: auto 0px;
    border-radius: 50%;
    max-width: 40px;
}
a#openUserNav .user-name {
    padding: 20px 0;
}
a#openUserNav:hover,
a#openUserNav:focus {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary);
}

@media (min-width: 768px) {
    .navbar-header {
        width: 16%;
        min-width: 300px;
    }
    a#openUserNav .user-avatar > img {
        margin: 5px 15px 5px 0;
    }
}

/**
** Main Nav Tabs
**/
.region-content > nav.tabs {
    margin-bottom: 20px;
}

/**
** Offcanvas Right
**/
button#close-sidebar-off-right {
    background: rgba(255,255,255,0.25);
    float: right;
    margin: 10px 10px 0 0;
    border: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    display: none;
}
button#close-sidebar-off-right svg {
    fill: var(--white);
    width: 10px;
}
#block-placeholderuserinfoinoffcanvasblock {
    background: linear-gradient(to bottom right, var(--primary), var(--primary-dark));
    padding: 20px;
    height: 150px;
    color: #FFF;  
}


/**
** Vertical Nav
**/
nav.vertical-nav > ul.menu > li.menu-icon > a {
    background-position: 15px center;
    background-size: 24px;
    padding: 15px 15px 15px 80px;
    font-weight: bold;
    color: var(--black);
    opacity: 0.7;
}
nav.vertical-nav > ul.menu > li.menu-icon.active > a.is-active,
nav.vertical-nav > ul.menu > li.menu-icon > a.is-active,
nav.vertical-nav > ul.menu > li.menu-icon.active > a {
    background-color: var(--bg-highlight);
    color: var(--primary);
    opacity: 1;
}
nav.vertical-nav > ul.menu > li.menu-icon > a:hover,
nav.vertical-nav > ul.menu > li.menu-icon > a:focus {
    background-color: var(--bg-highlight-overlay);
    opacity: 1;
}
nav.vertical-nav > ul.menu > li.menu-icon.active > a.is-active:hover
nav.vertical-nav > ul.menu > li.menu-icon.active > a.is-active:focus,
nav.vertical-nav > ul.menu > li.menu-icon > a.is-active:hover,
nav.vertical-nav > ul.menu > li.menu-icon > a.is-active:focus,
nav.vertical-nav > ul.menu > li.menu-icon.active > a:hover,
nav.vertical-nav > ul.menu > li.menu-icon.active > a:focus {
    background-color: var(--bg-highlight-overlay);
    opacity: 1;
}
nav.vertical-nav > ul.menu > li:not(.menu-icon) {
    border-bottom: 1px solid var(--bg-highlight);
    margin: 10px 0;
}
nav.vertical-nav > ul.menu > li:not(.menu-icon) > span {
    display: none;
}

@media (min-width: 768px) {
    nav.vertical-nav > ul.menu > li.menu-icon > a {
        background-position: 28px center;
    }
}

/**
** Page Title Region (#page-header)
**/
#page-header {
    margin: 0 -15px;
    background-color: var(--bg-mid);
    border-bottom: 1px solid var(--bg-highlight);
    margin-bottom: 15px;
}
#page-header .page-title-block {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}
/* #page-header .page-title-block.views-element-container {
    padding-bottom: 15px;
} */
.page-title-image {
    float: left;
    margin-right: 5%;
    width: 15%;
}
.page-title-text {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 80%;
}
h1.page-title-title {
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 5px 0;
}
.page-title-subtitle {
    font-size: 12px;
}

.page-title-calltoaction {
    float: right;
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
}
.page-title-calltoaction > a.btn {
    margin: 0 0 5px 5px;
}
.page-title-tabs {
    padding: 30px 0 0;
    clear: both;
    display: flex;
    justify-content: space-between;
}
.region-header-nav {
    max-width: 1200px;
    margin: auto;
}
.region-header-nav > nav > ul.menu > li {
    margin-top: 0;
    display: inline-block;
    font-size: 14px;
}
.region-header-nav > nav > ul.menu > li > a {
    border-bottom: 1px solid;
    padding: 10px 20px;
    color: var(--text-mid);
    border-color: transparent;
}
.region-header-nav > nav > ul.menu > li.active > a.active-trail,
.region-header-nav > nav > ul.menu > li > a.is-active {
    border-color: inherit;
    color: var(--primary);
}
.region-header-nav > nav > ul.menu > li > a:hover,
.region-header-nav > nav > ul.menu > li > a:focus {
    background-color: var(--bg-highlight);
}

@media (min-width: 768px) {
    #page-header {
        margin-bottom: 30px;
    }
    /* #page-header .page-title-block {
        padding: 30px 0 0;
    } */
    /* #page-header .page-title-block.views-element-container {
        padding-bottom: 30px;
    } */
    .page-title-image {
        margin-right: 30px;
        width: unset;
    }
    .page-title-text {
        width: unset;
        height: 100px;
    }
    h1.page-title-title {
        font-size: 26px;
    }
    .page-title-subtitle {
        font-size: 16px;
    }
    .region-header-nav > nav > ul.menu > li {
        margin-top: 20px;
        font-size: 16px;
    }
}



/** 
** Cards
**/
.card {
    background: var(--white);
    /* box-shadow: 0 0 10px 0px rgba(0,0,0,0.15);
    border-radius: 4px; */
    border: 1px solid var(--bg-highlight);
}
.card.field {
    margin-bottom: 20px;
    padding: 20px;
}
.card.card-grid-content {
    margin-bottom: 20px;
}
.card.field.field--name-field-tags > a,
.card.field--name-field-tools > a {
    padding: 4px 12px;
    background: var(--bg-highlight);
    border-radius: 10px;
    color: var(--black);
    margin: 3px 6px 3px 0;
    display: inline-block;
}
.card.two-col-card {
    border-radius: 0px;
    border: unset;
}
.card.two-col-card .col-2 {
    padding-left: 0px;
}
.card-cover {
    position: relative;
}
.card-cover > .cover-image {
    height: 135px;
    background: linear-gradient(to bottom right,var(--primary), var(--greyblue));
}
.card-cover > .cover-image img {
    object-fit: cover;
    height: 135px;
}
.card-cover > .overlayed-image {
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.card-cover > .overlayed-image img {
    border: 5px solid white;
}
.card.card-full-width .card-media {
    padding: 0px;
}
.card.card-stacked .card-media {
    position: relative;
    margin-bottom: 30px;
}
.card-media > .card-overlay-top-left {
    position: absolute;
    top: 10px;
    left: 25px;
    max-width: 30px; 
}
.card-media > .card-overlay-top-left img {
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.5);
}
.card.card-stacked .card-media > a {
    display: block;
}
.card.card-stacked .card-media > a > img,
.card.card-stacked .card-media > img {
    margin: auto;
}
.card.card-stacked .card-media > .card-media-overtop {
    padding: 2px 10px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 4px;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 100px;
    max-width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.card.card-full-width .card-title-region {
    margin-bottom: 15px;
    padding: 5px 20px;
}
.card.card-full-width .card-meta-region {
    padding: 5px 20px;
}
.card.card-full-width .card-meta-region > .metablock {
    display: inline-block;
    margin-right: 5em;
    margin-bottom: 1em;
    font-size: 14px;   
}
.metablock span.label-above {
    display: block;
    font-size: 12px;
    color: var(--text-light);
}
.card.card-with-cover .card-body {
    margin-top: 65px;
}
.card.card-stacked .card-body {
    margin-bottom: 15px;
}
.card-body > p {
    font-size: 14px;
    color: var(--text-mid);
    margin: 0 0 5px;
}
.card-body.subtext-sm > p {
    font-size: 12px;
    padding-bottom: 5px;
}
.card-grid-content .card-body > p {
    padding: 0 15px;
    margin: 0;
}
.card-body > p.card-location > span.glyphicon {
    margin-right: 10px;
}
h3.card-label {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-mid);
    margin-bottom: 20px;
}
h3.card-title {
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0 5px;
}
.card-grid-content h3.card-title {
    padding: 10px 15px 0;
    margin: 0;
}
.card-with-cover h3.card-title {
    margin: 0 0 10px;
}
.card-body.subtext-sm h3.card-title {
    padding: 15px;
}
p.card-primary-text {
    margin: 0;
}
p.card-secondary-text {
    margin: 0;
    font-size: 14px;
    color: var(--text-mid);
}

.card.card-stacked .card-action {
    border-top: 1px solid var(--bg-highlight);
    padding-top: 12px;
}
.card.card-stacked .card-action > a {
    font-size: 14px;
    padding: 6px 10px;
    background-color: var(--bg-lightest);
    border-radius: 16px;
    color: var(--primary);
    font-weight: bold;
    display: block;
    text-align: center;
}
.card.card-stacked .card-action > a:hover,
.card.card-stacked .card-action > a:focus {
    text-decoration: none;
    background-color: var(--bg-highlight);
}

.card-links > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: var(--text-mid);
    color: var(--white);
    font-size: 15px;
}
.card-links > a:hover,
.card-links > a:focus {
    background-color: var(--black);
    text-decoration: none;
}

.card-footer {
    padding: 10px 15px;
    margin-top: 10px;
    border-top: 1px solid var(--bg-highlight);
    font-size: 12px;
}
.card.card-full-width .card-footer {
    padding: 10px 20px;
}
.card-footer span.card-stat {
    margin-right: 15px;
    color: var(--text-light);
}
.card-footer span.card-stat > i,
.card-footer span.card-stat > span {
    margin-right: 3px;
}

.card-footer .card-footer-left {
    float: left;
}
.card-footer .card-footer-right {
    float: right;
}
.card-footer .card-footer-right > a {
    margin-left: 10px;
}

.card-manage-region {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid var(--bg-highlight);
    border-bottom: 1px solid var(--bg-highlight);
}
.card-manage-region > a {
    display: block;
    border-radius: 20px;
    background-color: var(--bg-lightest);
    color: var(--primary);
    font-size: 14px;
}
.card-manage-region > a:hover,
.card-manage-region > a:focus {
    background-color: var(--bg-highlight);
    color: var(--primary);
}

@media (min-width: 768px) {
    h3.card-title {
        font-size: 18px;
    }
    .card.two-col-card .col-2 {
        padding-left: 15px;
    }
    p.card-primary-text {
        font-size: 12px;
    }
    p.card-secondary-text {
        font-size: 10px;
    }
    .card.card-full-width .card-media {
        padding: 20px;
    }
}
@media (min-width: 992px) {
    p.card-primary-text {
        font-size: 16px;
    }
    p.card-secondary-text {
        font-size: 14px;
    }
    .card.card-full-width .card-title-region {
        margin-bottom: 15px;
        padding: 0;
    }
    .card.card-full-width .card-meta-region {
        padding: 0;
    }
}


/**
** Global Styles
**/
.circle-image img {
    border-radius: 50%;
}
.gradient-bg {
    background: linear-gradient(to bottom right, var(--primary), var(--primary-dark));
    color: var(--white);
}
.label {
    padding: 0.2em 0.6em;
}
span.label.secondary {
    background-color: var(--secondary);
    color: var(--white);
    font-size: 12px;
}
span.label.label-greyblue {
    background-color: var(--greyblue);
    color: var(--white);
    font-size: 12px;
    font-weight: normal;
    padding: 4px 11px;
}
p.text-mid {
    color: var(--text-mid);
}
body:not(.user-logged-in) .for-member {
    display: none;
}
body.user-logged-in .for-guest {
    display: none;
}
.tabledrag-toggle-weight {
    display: none;
}
.alert {
    margin: 0 -15px;
    border-radius: 0;
}
.well {
    padding: 20px;
    border: 1px solid var(--bg-highlight);
    box-shadow: unset;
    border-radius: 0px;
}
.well.well-white {
    background-color: var(--white);
}
.well.has-header-btn {
    position: relative;
}
.well.has-header-btn > div:first-of-type > p > a.btn {
    position: absolute;
    top: 15px;
    right: 15px;
}
.well > h2 {
    font-size: 14px;
    margin: 0 0 15px;
    font-weight: bold;
    color: var(--primary);
}
p.can-expand {
    font-size: 12px;
    overflow: hidden;
    margin-top: 20px;
    height: 60px;
}
a[data-readmore-toggle] {
    font-size: 10px;
    color: var(--greyblue);
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    span.label.secondary {
        font-size: 14px;
    }
    .well > h2 {
        font-size: 20px;
    }
    p.can-expand {
        height: 130px;
    }
}



/**
** Spacing Utilities
**/
.pt-1 {
    padding-top: 1em;
}
.pt-2 {
    padding-top: 2em;
}
.pt-3 {
    padding-top: 3em;
}
.pt-4 {
    padding-top: 4em;
}
.pt-5 {
    padding-top: 5em;
}
.pb-1 {
    padding-bottom: 1em;
}
.pb-2 {
    padding-bottom: 2em;
}
.pb-3 {
    padding-bottom: 3em;
}
.pb-4 {
    padding-bottom: 4em;
}
.pb-5 {
    padding-bottom: 5em;
}
.ph-1 {
    padding-right: 1em;
    padding-left: 1em;
}
.ph-2 {
    padding-right: 2em;
    padding-left: 2em;
}
.ph-3 {
    padding-right: 3em;
    padding-left: 3em;
}
.ph-4 {
    padding-right: 4em;
    padding-left: 4em;
}
.ph-5 {
    padding-right: 5em;
    padding-left: 5em;
}
.mv-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.mv-2 {
    margin-top: 2em;
    margin-bottom: 2em;
}
.mv-3 {
    margin-top: 3em;
    margin-bottom: 3em;
}
.mv-4 {
    margin-top: 4em;
    margin-bottom: 4em;
}
.mv-5 {
    margin-top: 5em;
    margin-bottom: 5em;
}
.mb-1 {
    margin-bottom: 1em;
}
.mb-2 {
    margin-bottom: 2em;
}
.mb-3 {
    margin-bottom: 3em;
}
.mb-4 {
    margin-bottom: 4em;
}
.mb-5 {
    margin-bottom: 5em;
}