/**
** Content Blocks field display
**/
.field--name-field-content-blocks > .field--item {
    margin-bottom: 30px;
}

/**
** Paragraph: Image with Caption
**/

.paragraph--type-image-with-caption figure > img {
    width: 100%;
}
.paragraph--type-image-with-caption figure > figcaption {
    font-size: 14px;
    background: var(--bg-lightest);
    padding: 10px;
    text-align: center;
}

/**
** Paragraph: Basic Text Block
**/
.paragraph--type--basic-text-block p {
    line-height: 1.7em;
}