body.embed-view {
    margin-top: 0px;
}

.card.embed-card {
    width: 100%;
    max-width: 300px;
}
.embed-card .card-media {
    position: relative;
}
.embed-card .card-media .learnful-badge {
    position: absolute;
    top: 10px;
    right: 10px;
}
.embed-card .card-body {
    padding: 15px;
}
.embed-card h3.card-title {
    margin: 0;
}
.embed-card h3.card-title > a {
    color: var(--black);
}
.btn-embed {
    border: 1px solid var(--primary);
    padding: 3px 10px;
    margin-top: 15px;
    font-size: 14px;
}
.btn-embed:hover,
.btn-embed:focus {
    background-color: var(--primary);
    color: white;
}