h1#node-add-edit-title {
    display: inline-block;
    margin: 0 0 0 1em;
    padding-left: 1em;
    font-size: 16px;
    border-left: 1px solid var(--bg-highlight-overlay);
    color: var(--text-mid);
    line-height: 34px;
    vertical-align: middle;
}

body.node-add-edit .region-content > nav.tabs {
    display: none;
}

/**
** User Settings Form
**/
#user-settings-form {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#user-settings-profile-form {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body.user-logged-in.path-user form#user-form > #edit-actions {
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto 25px auto;
}
/* body.user-logged-in.path-user form#user-form > #edit-actions > button {
    display: block;
    width: 100%;
} */
form#change-pwd-form {
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--bg-highlight);
    margin: 20px auto;
    max-width: 600px;
}
form#change-pwd-form button#edit-submit {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
}

/**
** Node Form
**/
#node-form-top-bar {
    padding: 15px 0;
    background: var(--bg-mid);
    border-bottom: 1px solid var(--bg-highlight);
    position: sticky;
    top: 60px;
    z-index: 1029;
}
#node-form-main-wrapper {
    max-width: 1920px;
    margin: auto;
}

#node-form-main-wrapper #main-right {
    background: var(--white);
    border-left: 1px solid var(--bg-highlight);
    font-size: 14px;
    padding: 0px;
    margin-right: -15px;
    float: right;
}
#main-right > .form-item.panel {
    border-radius: 0px;
    box-shadow: unset;
    border: 0;
    margin-bottom: 0px;
}
#main-right > .form-item.panel .panel-heading {
    border-radius: 0px;
    background-color: var(--bg-lightest);
    border-bottom: 1px solid var(--bg-highlight);
    font-weight: bold;
}
#main-right > .form-item.panel .panel-body {
    border-bottom: 1px solid var(--bg-highlight);
}

/** node delete **/
form.node-confirm-form > #edit-actions {
    margin-top: 15px;
}

/**
** Global Form styles
**/
form.node-form .form-wrapper .form-item > label {
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-dark);
}
form.node-form .form-wrapper .form-item  .form-control {
    border-radius: 0;
    box-shadow: unset;
    border-color: var(--bg-highlight);
    height: auto;
    padding: 10px;
}
.form-item > .description.help-block {
    margin: 15px 0;
}
.filter-wrapper {
    box-shadow: unset;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}
button.field-add-more-submit {
    font-size: 12px;
    padding: 4px 6px;
    border-width: 1px;
}

button#edit-submit {
    margin-right: 4px;
}

a#edit-cancel {
    padding: 6px 15px;
    background-color: var(--greyblue);
    border: 3px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    line-height: 1.42857143;
    font-size: 14px;
    display: inline-block;
    margin-right: 4px;
    color: var(--white);
}
a#edit-cancel:hover,
a#edit-cancel:focus {
    background-color: var(--greyblue-dark);
    text-decoration: none;
}

a#edit-delete {
    padding: 6px 15px;
    background: var(--red);
    border: 3px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    line-height: 1.42857143;
    font-size: 14px;
    display: inline-block;
    margin-right: 0;
    color: var(--white);
}
a#edit-delete:hover,
a#edit-delete:focus {
    background-color: var(--red-dark);
    text-decoration: none;
}

/**
** Panels
**/
.panel-body > p.help-block {
    margin: 0 0 15px;
}

/** Hide Field label when in panel **/
.hide-field-label.panel  .form-group:first-of-type > .form-item:first-of-type > label.control-label,
.hide-field-label.panel .form-item:first-of-type > .table-responsive > table > thead {
    display: none;
}

a.panel-title:after {
    display: block;
    float: right;
    height: 20px;
    width: 20px;
    font-family: 'Glyphicons Halflings';
    content: "\e258";
    color: var(--text-light);
}
a.panel-title.form-required:after {
    background-image: unset;
}
a.panel-title[aria-expanded=false]:after {
    content: "\e259";
}
.panel.no-inner-label .panel-body > .form-wrapper > .form-group > .form-item > label.control-label,
.panel.no-inner-label .panel-body > .form-group > .form-item > label.control-label {
    display: none;
}


/**
** field type: image
**/
.field--type-image .preview {
    width: 100%;
    margin-bottom: 10px;
}
.field--type-image .data {
    width: 100%;
}
.field--type-image .data span.file  {
    margin: 0 0 15px;
}
.field--type-image .data span.file > .file-link  {
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
** UI Autocomplete
**/
.ui-autocomplete {
    padding: 0;
    border-radius: 0;
    box-shadow: unset;
}
.ui-autocomplete .ui-menu-item {
    padding: 0px;
}
.ui-menu .ui-menu-item-wrapper {
    padding: 5px 10px;
    display: block;
}


/**
** Paragraphs field
**/
#node-form-main-wrapper > #main-left > h3 {
    margin: 20px 15px 0;
    font-size: 17px;
    font-weight: bold;
}
.field--name-field-content-blocks {
    padding: 15px 0;
}
.field--name-field-content-blocks .table-responsive {
    overflow-x: visible;
}
.field--name-field-content-blocks .tabledrag-changed-warning {
    padding: 10px 20px;
    margin: 0 0 20px;
    background-color: var(--red-light);
    border-color: var(--red-dark);
    color: var(--white);
}
.field--name-field-content-blocks .tabledrag-changed-warning > .tabledrag-changed  {
    color: var(--white);
    margin-right: 10px;
}
.js .field--widget-paragraphs .field-multiple-drag {
    position: relative;
    padding: 0px;
}
.js .field--widget-paragraphs .field-multiple-drag > a.tabledrag-handle {
    padding: 20px 30px;
    margin: 0;
    background: var(--bg-lightest);
    border-right: 1px solid var(--bg-highlight);
    border-bottom: 1px solid var(--bg-highlight);
}
.field--widget-paragraphs td .tabledrag-changed.text-warning {
    position: absolute;
    color: var(--white);
    background-color: var(--red-light);
    height: 100%;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: -10px;
}

@media (min-width: 768px) {
    .field--name-field-content-blocks {
        padding: 20px 15px;
    }
}

/** Pararagraphs buttons **/
/* .field--name-field-content-blocks button.field-add-more-submit {
    border: 0;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin: 10px 0;
    float: left;
} */
/* .field--name-field-content-blocks button.field-add-more-submit > svg {
    display: block;
    background-color: var(--bg-highlight);
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 10px;
    fill: var(--primary);
} */
/* .field--name-field-content-blocks button.field-add-more-submit:hover > svg,
.field--name-field-content-blocks button.field-add-more-submit:focus > svg {
    fill: var(--white);
    background-color: var(--primary);
} */

@media (min-width: 768px) {
    /* .field--name-field-content-blocks button.field-add-more-submit {
        margin: 0 29px 0 0;
        width: auto;
        text-align: unset;
        float: none;
    } */
}

/** paragraph fields in node edit **/
.field--name-field-content-blocks table > thead {
    display: none;
}
.field--name-field-content-blocks table > tbody {
    font-size: 12px;
    color: var(--text-light);
}
.field--name-field-content-blocks table > tbody > tr.draggable {
    display: block;
    border: 1px solid var(--bg-highlight);
    background-color: var(--white);
}
.field--name-field-content-blocks table > tbody > tr.draggable > td:nth-of-type(2) {
    width: 100%;
    /* padding: 0 5px; */
    padding: 0px;
    margin: 0px;
}
.field--name-field-content-blocks table > tbody > tr.draggable > td {
    border-top: 0px;
    white-space: unset;
}
.field--name-field-content-blocks .form-group.paragraph-top {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.field--name-field-content-blocks .form-group.paragraph-top > .form-group {
    margin-bottom: 0px;
}
.field--name-field-content-blocks .form-group.paragraph-top .paragraph-type {
    border-right: 1px solid var(--bg-highlight);
    line-height: 56px;
    color: var(--black);
    padding: 0 0 0 10px;
    /* text-align: center; */
    max-width: 130px;
}
.field--name-field-content-blocks .form-group.paragraph-top .paragraph-type .paragraph-type-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.field--name-field-content-blocks .form-group.paragraph-top .paragraph-summary {
    display: none;
}
.field--name-field-content-blocks .form-group.paragraph-top .paragraph-info {
    min-width: 40px;
    text-align: center;
}
.field--name-field-content-blocks .form-group.paragraph-top .paragraph-info > span.paragraphs-icon-changed {
    background-size: 20px;
}


@media (min-width: 768px) {
    /* .field--name-field-content-blocks table > tbody > tr.draggable > td:nth-of-type(2) {
        padding: 0 25px;
    } */
    .field--name-field-content-blocks .form-group.paragraph-top .paragraph-type {
        min-width: 150px;
        max-width: unset;
    }
    .field--name-field-content-blocks .form-group.paragraph-top .paragraph-summary {
        width: 55%;
        display: block;
        max-width: 250px;
    }
}
@media (min-width: 992px) {
    .field--name-field-content-blocks .form-group.paragraph-top .paragraph-summary {
        max-width: 150px;
    }
    .field--name-field-content-blocks table > tbody > tr.draggable {
        margin: 0 0 20px;
    }
    /* .field--name-field-content-blocks table > tbody > tr.draggable > td {
        white-space: nowrap;
    } */
}
@media (min-width: 1367px) {
    .field--name-field-content-blocks .form-group.paragraph-top .paragraph-summary {
        width: 70%;
        max-width: 500px;
    }
}
@media (min-width: 1440px) {
    .field--name-field-content-blocks .form-group.paragraph-top .paragraph-summary {
        max-width: 550px;
    }
}
@media (min-width: 1600px) {
    .field--name-field-content-blocks .form-group.paragraph-top .paragraph-summary {
        max-width: 700px;
    }
}
@media (min-width: 1920px) {
    .field--name-field-content-blocks .form-group.paragraph-top .paragraph-summary {
        max-width: unset;
    }
}

.js .paragraphs-subform {
    overflow-x: hidden;
    padding-top: 15px;
    border-top: 1px solid var(--bg-highlight);
    margin-top: 0px;
}
.js .paragraphs-subform > .form-group {
    padding: 0 15px 15px 0;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .js .paragraphs-subform {
        padding: 30px 30px 30px 0;
        border-top: 1px solid var(--bg-highlight);
        margin-top: 0px;
        overflow-x: unset;
    }
}

.field--name-field-content-blocks  .paragraphs-actions {
    padding-right: 15px;
}
button.paragraphs-icon-button-collapse,
button.paragraphs-icon-button-edit {
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 0px;
    font-size: 10px;
    background-color: var(--bg-lightest);
    border: 1px solid var(--bg-highlight-overlay);
    color: black;
}
button.paragraphs-icon-button-collapse:hover,
button.paragraphs-icon-button-collapse:focus,
button.paragraphs-icon-button-edit:hover,
button.paragraphs-icon-button-edit:focus {
    background-color: var(--bg-highlight-overlay);
    border: 1px solid var(--black);
    color: black;
}
button.paragraphs-dropdown-toggle {
    background-color: var(--bg-lightest);
    border: 1px solid var(--bg-highlight-overlay);
    background-size: 15px;
    border-radius: 0px;
}
button.paragraphs-dropdown-toggle:hover,
button.paragraphs-dropdown-toggle:focus {
    border: 1px solid var(--black);
    box-shadow: unset;
    background-color: var(--bg-highlight-overlay);
}
.paragraphs-dropdown-actions {
    top: 30px;
    border: 1px solid var(--bg-highlight-overlay);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: var(--white);
}
.paragraphs-dropdown-actions > button {
    padding: 5px 20px;
    border-bottom: 1px solid var(--bg-highlight-overlay);
    display: block;
}
.paragraphs-dropdown-actions > button > span.icon {
    display: none;
}
.paragraphs-dropdown-actions > button.btn-danger {
    color: var(--red);
    background-color: transparent;
}
.paragraphs-dropdown-actions > button.btn-danger:hover,
.paragraphs-dropdown-actions > button.btn-danger:focus {
    background-color: var(--red);
    color: var(--white);
}
.paragraphs-dropdown-actions > button.btn-default {
    background-color: transparent;
    color: var(--primary);
}
.paragraphs-dropdown-actions > button.btn-default:hover,
.paragraphs-dropdown-actions > button.btn-default:focus {
    background-color: var(--primary);
    color: var(--white);
}
@media (max-width: 768px) {
    .button.paragraphs-icon-button {
        width: 26px !important;
        height: 26px;
        background-size: 20px;
    }
}


/** paragraph: image field, photo gallery, image with caption  **/
.field--type-image.paragraphs-content table > tbody > tr {
    border: 0;
    padding: 0;
    margin: 0 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bg-highlight);
}
.field--type-image.paragraphs-content table > tbody > tr > td {
    padding: 20px 0;
}
.field--type-image.paragraphs-content .image-widget > .preview {
    width: 33.333%;
}
.field--type-image.paragraphs-content .image-widget > .data {
    width: 66.66666667%;
}
.field--type-image.paragraphs-content .image-widget > .data > .form-item > .description.help-block {
    display: none;
}
.field--type-image.paragraphs-content button.form-submit {
    font-size: 0;
    margin-right: 10px;
    background-color: unset;
    border: unset;
    color: var(--red-light);
}
.field--type-image.paragraphs-content button.form-submit > span.icon {
    font-size: 14px;
    margin: 0;
}
.field--type-image.paragraphs-content button.form-submit:hover,
.field--type-image.paragraphs-content button.form-submit:focus,
.field--type-image.paragraphs-content button.form-submit:active {
    color: var(--red);
    box-shadow: unset;
}

/** paragraphs: column content **/
.column-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
}
.column-grid .column-settings {
    display: grid;
    grid-template-columns: repeat( 4, minmax(200px, 1fr) );
    grid-column: 1 / -1;
}
.column-entry {
    grid-column: 1 / -1;
    padding: 30px;
    border: 1px solid var(--bg-highlight);
    counter-increment: column-incrementer;
}
.column-entry .paragraph-type-top {
    height: 57px;
    align-items: center;
    margin: 0;
    padding: 0 15px;
}
.column-entry .paragraph-type-top .paragraph-type-title {
    margin: 0;
}
.column-entry:before {
    content: "COL " counter(column-incrementer);
    border: 1px solid var(--bg-highlight);
    border-right: 0;
    font-size: 10px;
    background-color: var(--bg-lightest);
    padding: 5px;
    position: absolute;
    top: -1px;
    left: -51px;
    width: 50px;
}


/**
** CK Editor
**/
.cke_chrome {
    border: 1px solid var(--bg-highlight);
}
.cke_top {
    border-bottom: 1px solid var(--bg-highlight);
    padding: 5px 10px 0px;
    background-color: var(--white); 
}
.cke_bottom {
    border-top: 1px solid var(--bg-highlight);
    background-color: white;
}

/**
** Field Remove Button
**/
button.btn-danger[value="Remove"] {
    padding: 6px 10px;
    font-size: 12px;
    border-width: 1px;
}

/**
** Field Settings column
**/
.field-settings-panel > .form-group {
    margin-bottom: 30px;
}
.field-settings-panel > .form-group:last-of-type {
    margin-bottom: 0px;
}

/**
** Background Colour Field
**/
.field--name-field-background-colour > .form-item.form-group {
    margin-bottom: 0px;
}
.color_field_widget_box__square {
    height: 50px;
    width: 50px;
    box-shadow: unset;
    border: 1px solid var(--text-mid);
}
.color_field_widget_box__square.active,
.color_field_widget_box__square:hover {
    height: 50px;
    width: 50px;
    border-color: black;
}
.color_field_widget_box__square.active {
    border: 3px inset black;
}
.color_field_widget_box__square:before {
    content: "Aa";
    color: white;
    font-size: 16px;
}
.color_field_widget_box__square[color="#39CCCC"]:before,
.color_field_widget_box__square[color="#2ECC40"]:before,
.color_field_widget_box__square[color="#FFDC00"]:before,
.color_field_widget_box__square[color="#DDDDDD"]:before,
.color_field_widget_box__square[color="#FFFFFF"]:before {
    color: black;
}

/**
** Block width field
**/
.field--name-field-spacing-and-padding > label.control-label {
    font-weight: normal;
    letter-spacing: 0.051em;
    font-size: 14px;
    color: var(--text-mid);
}


/**
** Views exposed Filters
**/
.views-exposed-form.block {
    padding: 15px 0;    
}

.views-exposed-form.block .form--inline > .form-item {
    margin-right: 15px;
    margin-bottom: 10px;
}

.views-exposed-form.block .form--inline > .form-item > .control-label {
    color: var(--text-light);
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
}
.views-exposed-form.block .form--inline > .form-item .form-control {
    border-color: var(--bg-highlight-overlay);
    color: var(--text-mid);
    box-shadow: unset;
    border-radius: 0px;
    max-width: 250px;
}
.views-exposed-form.block .form--inline > .form-item .input-group-addon {
    border-color: var(--bg-highlight-overlay);
    background-color: var(--bg-lightest);
    border-radius: 0px;
}
.views-exposed-form.block .form--inline .form-actions.form-group {
    vertical-align: top;
}
.views-exposed-form.block .form--inline .form-actions > button {
    padding: 4px 10px;
    border-radius: 0px;
    background-color: var(--bg-highlight-overlay);
    color: var(--black);
}
.views-exposed-form.block .form--inline .form-actions > button:hover,
.views-exposed-form.block .form--inline .form-actions > button:focus {
    background-color: var(--text-mid);
    color: var(--white);
}

@media (min-width: 768px) {
    .views-exposed-form.block {
        padding: 15px 15px 5px;
    }
    .views-exposed-form.block .form--inline > .form-item .form-control {
        max-width: 150px;
    }
}
@media (min-width: 992px) {
    .views-exposed-form.block {
        padding: 15px 25px 5px;
    }
}
@media (min-width: 1400px) {
    .views-exposed-form.block .form--inline > .form-item .form-control {
        max-width: 200px;
    }
    .views-exposed-form.block .form--inline > .form-item {
        margin-bottom: 0px;
    }
    .views-exposed-form.block {
        padding: 15px 0;
    }
    .views-exposed-form.block .form--inline > .form-item .form-control {
        max-width: 250px;
    }
}