.field--widget-h5p-editor > .panel {
    border: 0;
    padding: 0;
    background-color: unset;
    box-shadow: unset;
    border-radius: 0px;
}

.field--widget-h5p-editor > .panel > .panel-heading {
    display: none;
}

.field--widget-h5p-editor > .panel > .panel-body {
    padding: 0px;
}

.field--widget-h5p-editor > .panel > .panel-body > .form-type-item > .control-label {
    display: none;
}

.field--widget-h5p-editor > .panel > .panel-body > .form-type-item #h5p-editor-iframe {
    max-width: 900px;
    margin: auto;
}