body.launch-page {
    margin-top: 0px;
}

.node--view-mode-launch > header#navbar {
    color: var(--text-mid);
    font-weight: 700;
}

.node--view-mode-launch > header#navbar .header-title {
    float: left;
    width: 80%;
    padding: 15px;
}
.node--view-mode-launch > header#navbar .header-action {
    float: left;
    width: 20%;
    text-align: right;
}

.node--view-mode-launch > header#navbar .header-action > a {
    padding: 15px 25px;
    border-left: 1px solid var(--bg-highlight);
    display: inline-block;
}
.node--view-mode-launch > header#navbar .header-action > a:hover,
.node--view-mode-launch > header#navbar .header-action > a:focus {
    background-color: var(--bg-highlight);
    text-decoration: none;
}

.node--view-mode-launch > .field.narrow {
    max-width: 900px;
    margin: auto;
}

.node--view-mode-launch > .field.card {
    padding: 50px;
    margin-top: 70px;
}

.node--view-mode-launch > .field.field-content-blocks > .paragraph {
    margin-bottom: 30px;
}
.node--view-mode-launch > .field.field-content-blocks > .paragraph:last-of-type {
    margin-bottom: 0px;
}

h2.launch-region-title {
    text-align: center;
    margin: 0 0 15px;
    font-size: 1.5em;
}